.w_grid_div{
	width:100%;height:auto;background-color:#1F232A;
}
.info-tell{
	width:1340px;padding-top: 25px;height: auto;margin:0 auto;margin-bottom: 40px;
}
.info-tell p{
	font-size: 15px;color:#FFFFFF;letter-spacing: 0;line-height: 45px;
}
.bqxx{
	width:1440px;height:52px;line-height:52px;border-top: 1px solid rgba(255,255,255,0.5);margin:0 auto;text-align: center;font-size: 14px;color: #999999;letter-spacing: 0;
}